.about
  position: relative
  width: 100%
  text-align: center
  padding: 8% 0

.about_header
  padding-bottom: 7%
  & h4
    padding-bottom: 2%
  & h3
    padding-bottom: 3%

.about_gallery
  display: inline-block


.about_gallery_img
  display: inline
  padding-right: 16px
  &:last-child
    padding-right: 0

