.block_footer


.footer
  position: relative
  display: block
  padding: 74px 0 22px

.footer_main
  position: relative
  width: 100%
  padding-bottom: 70px

.footer_logo
  position: relative
  width: 35%
  display: inline-block
  padding-right: 48px
  & h5
    color: #cccccc
    font-family: Montserrat
    font-size: 3rem
    font-weight: 700
    text-transform: capitalize
    padding-bottom: 42px
    & span
      text-transform: uppercase

  & form
    position: relative
    display: inline-block
    width: 100%
    & input
      display: inline
      color: #cccccc
      font-family: Roboto Italic
      font-size: 1rem
      font-weight: 400
      line-height: 24px
      padding: 14px 0 14px 14px

    & button
      display: inline
      color: $white-color
      font-family: Montserrat
      font-size: 0.93rem
      font-weight: 700
      text-transform: uppercase
      background-color: $turquoise-color
      padding: 15px 34px

  & i
    color: $black-color
    font-family: Montserrat
    font-size: 0.93rem
    font-weight: 400
    padding: 42px 0 18px 0
    & span
      font-size: 1.2rem
      font-weight: 700

.footer_logo_social
  position: relative
  padding-bottom: 39px
  display: inline-block
  & p
    display: inline
    color: $grey-color
    font-family: Roboto Italic
    font-size: 1rem
    font-weight: 400
    line-height: 24px
    padding-right: 23px

  & a
    display: inline
    padding-right: 16px
    &:last-child
      padding-right: 0


.footer_blogs
  position: relative
  width: 40%
  display: inline-block
  padding-right: 68px
  & h5
    color: $black-color
    font-family: Montserrat
    font-size: 0.93rem
    font-weight: 400
    text-transform: uppercase
    padding-bottom: 40px

.footer_blogs_block
  position: relative
  display: flex
  width: 100%
  flex-wrap: wrap
  padding-bottom: 31px

.footer_blogs_img
  padding-right: 20px


.footer_blogs_info


.footer_instagram
  position: relative
  width: 24%
  display: inline-block
  & h5
    color: $black-color
    font-family: Montserrat
    font-size: 0.93rem
    font-weight: 400
    text-transform: uppercase
    padding-bottom: 40px

.footer_instagram_gallery
  position: relative
  display: inline-block
  width: 100%
  padding-bottom: 28px

