.services
  width: 100%
  padding: 109px 0 122px 0px

.services_header
  text-align: center
  position: relative
  display: block
  padding-bottom: 66px
  & h3
    padding: 22px 0 42px 0

.services_list
  position: relative
  display: inline-block


.services_list_item
  width: 33%
  position: relative
  display: inline-block
  columns: 2 auto
  padding-bottom: 51px
  & img
    padding: 0 37px 100px 30px

  & h5
    font-family: Montserrat
    font-size: 0.93rem
    color: $black-color
    font-weight: 400
    text-transform: uppercase
    padding-bottom: 20px
