.team
  position: relative
  display: block
  text-align: center
  padding: 99px 0 117px 0

.team_header
  position: relative
  padding-bottom: 92px
  & h4
    padding-bottom: 23px
  & h3
    padding-bottom: 30px

.team_gallery
  position: relative
  display: block
  width: 100%

.team_gallery_block
  position: relative
  display: inline-block
  width: 33%

  & img
    display: inline
    z-index: 0

  & h5
    color: $black-color
    font-family: Montserrat
    font-size: 0.93rem
    font-weight: 400
    text-transform: uppercase
    padding: 31px 0 15px 0

  & p
    color: #999999
    font-family: Roboto Italic
    font-size: 1rem
    font-weight: 400
    text-transform: capitalize

.social
  position: relative
  display: inline-block


.facebook


.fa-facebook-f
  padding: 15px 22px
  background-color: #fce38a
  color: #f38181

.fab



.twitter


.fa-twitter
  color: #f38181
  padding: 15px 17px
  background-color: #fce38a
  font-family:

.pinterest


.fa-pinterest-p
  color: #f38181
  padding: 15px 17px
  background-color: #fce38a

.instagram


.fa-instagram
  color: #f38181
  padding: 15px 16px
  background-color: #fce38a
