$white-color : #ffffff;
$black-color : #333333;
$grey-color : #999999;
$red-color : #f32817;
$yellow-color : #fce38a;
$turquoise-color : #95e1d3;



@mixin media($width)
	@media screen and (max-width: $width + "px") 
		@content

@import "_reset.sass"
@import "_base.sass"
@import "_header.sass"
@import "_about.sass"
@import "_indicators.sass"
@import "_services.sass"
@import "_design.sass"
@import "_work.sass"
@import "_team.sass"
@import "_gallery.sass"
@import "_clients.sass"
@import "_blog.sass"
@import "_map.sass"


