<section class="block_about">
  <div class="container">
    <div class="about">
      <div class="about_header">
        <h4>what we do</h4>
        <h3>Story about us</h3>
        <hr class="line">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br> veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="about_gallery">
        <div class="about_gallery_img">
          <img src="img/layer-44.png" alt="No">
        </div>
        <div class="about_gallery_img">
          <img src="img/layer-39.png" alt="No">
        </div>
        <div class="about_gallery_img">
          <img src="img/layer-41.png" alt="No">
        </div>
      </div>
    </div>
  </div>
</section>
