<section class="block_blog">
    <div class="container">
        <div class="blog">
            <div class="blog_header">
                <h4>Our stories</h4>
                <h3>Our stories</h3>
                <hr class="line">
            </div>
            <div class="blog_news">
                <div class="blog_image">
                    <img src="img/layer-54.png" alt="No">
                    <div class="blog_image_date">
                        <span>15</span>
                        <p>jan</p>
                    </div>
                    <div class="blog_image_info">
                        <h5>Lorem ipsum dolor sit amet</h5>
                        <p class="text">Consectetur adipiscing elit, sed do eiusmod tempor<br>
                            incididunt ut labore et dolore magna aliqua.</p>
                        <hr>
                        <div class="view">
                            <img src="pic/icons/view.png" alt="No">
                            <span>542</span>
                            <img src="pic/icons/speech-bubble-2.png" alt="No">
                            <span>17</span>
                        </div>
                    </div>
                </div>
                <div class="blog_image">
                    <img src="img/layer-55.png" alt="No">
                    <div class="blog_image_date">
                        <span>14</span>
                        <p>jan</p>
                    </div>
                    <div class="blog_image_info">
                        <h5>sed do eiusmod tempor</h5>
                        <p class="text">Adipiscing elit, sed do eiusmod tempor incididunt ut<br>
                            labore et dolore magna aliqua.</p>
                        <hr>
                        <div class="view">
                            <img src="pic/icons/view.png" alt="No">
                            <span>992</span>
                            <img src="pic/icons/speech-bubble-2.png" alt="No">
                            <span>42</span>
                        </div>
                    </div>
                </div>
                <div class="blog_image">
                    <img src="img/layer-57.png" alt="No">
                    <div class="blog_image_date">
                        <span>12</span>
                        <p>jan</p>
                    </div>
                    <div class="blog_image_info">
                        <h5>incididunt ut labore et dolore</h5>
                        <p class="text">Elit, sed do eiusmod tempor incididunt ut labore et<br> dolore magna aliqua.</p>
                        <hr>
                        <div class="view">
                            <img src="pic/icons/view.png" alt="No">
                            <span>1560</span>
                            <img src="pic/icons/speech-bubble-2.png" alt="No">
                            <span>98</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
