<section class="block_clients">
    <div class="container">
        <div class="clients">
            <div class="clients_header">
                <h4>happy clients</h4>
                <h3>What people say</h3>
                <hr class="line">
            </div>
            <div class="clients_list">
                <div class="clients_list_person">
                    <div class="clients_avatar">
                        <img src="pic/icons/layer-47.png" alt="No">
                    </div>
                    <div class="clients_info">
                        <h5>matthew dix</h5>
                        <h6>graphic design</h6>
                        <hr>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do eiusmod
                            tempor<br> incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim.</p>
                    </div>
                </div>
                <div class="clients_list_person">
                    <div class="clients_avatar">
                        <img src="pic/icons/layer-49.png" alt="No">
                    </div>
                    <div class="clients_info">
                        <h5>nick karvounis</h5>
                        <h6>graphic design</h6>
                        <hr>
                        <p class="text">Sit amet, consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt
                            ut labore et<br> dolore magna aliqua. Ut enim ad minim<br> veniam</p>
                    </div>
                </div>
                <div class="clients_list_person">
                    <div class="clients_avatar">
                        <img src="pic/icons/layer-50.png" alt="No">
                    </div>
                    <div class="clients_info">
                        <h5>jaelynn castillo</h5>
                        <h6>graphic design</h6>
                        <hr>
                        <p class="text">Ipsum dolor sit amet, consectetur adipiscing<br> elit, sed do eiusmod tempor
                            incididunt ut<br> labore et dolore magna aliqua. Ut enim ad<br> minim veniam</p>
                    </div>
                </div>
                <div class="clients_list_person">
                    <div class="clients_avatar">
                        <img src="pic/icons/layer-51.png" alt="No">
                    </div>
                    <div class="clients_info">
                        <h5>mike petrucci</h5>
                        <h6>graphic design</h6>
                        <hr>
                        <p class="text">Dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor
                            incididunt ut labore<br> et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>