<section class="block_design">
    <div class="container">
        <div class="design">
            <div class="design_header">
                <h4>for all devices</h4>
                <h3>unique design</h3>
                <hr class="line">
            </div>
            <div class="design_adaptiv">
                <img src="img/display-bg-768x1024.png" alt="No" class="design_adaptiv_ipad">
                <img src="img/white.png" alt="No" class="design_adaptiv_iphone">
            </div>
        </div>
    </div>
</section>