<footer class="block_footer">
    <div class="container">
        <div class="footer">
            <div class="footer_main">
                <div class="footer_logo">
                    <h5>mo<span>g</span>o</h5>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim<br> ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut<br> aliquip ex ea commodo consequat.</p>
                    <i><span>15k</span> followers</i>
                    <hr>
                    <div class="footer_logo_social">
                        <p>Follow Us:</p>
                        <a href="#"><img src="pic/icons/facebook-2.png" alt="No"></a>
                        <a href="#"><img src="pic/icons/twitter-2.png" alt="No"></a>
                        <a href="#"><img src="pic/icons/instagram-2.png" alt="No"></a>
                        <a href="#"><img src="pic/icons/pinterest-2.png" alt="No"></a>
                        <a href="#"><img src="pic/icons/google-plus.png" alt="No"></a>
                        <a href="#"><img src="pic/icons/youtube.png" alt="No"></a>
                        <a href="#"><img src="pic/icons/dribbble.png" alt="No"></a>
                        <a href="#"><img src="pic/icons/tumblr.png" alt="No"></a>
                    </div>
                    <form>
                        <input type="search" name="q" placeholder="Your Email...">
                        <button>Subscribe</button>
                    </form>
                </div>
                <div class="footer_blogs">
                    <h5>blogs</h5>
                    <div class="footer_blogs_block">
                        <div class="footer_blogs_img">
                            <img src="img/photos-7884rhdsw8yqbsyn.png" alt="No">
                        </div>
                        <div class="footer_blogs_info">
                            <h6>Lorem ipsum dolor sit amet,<br> consectetur adipiscing</h6>
                            <p>Jan 9, 2016</p>
                        </div>
                    </div>
                    <div class="footer_blogs_block">
                        <div class="footer_blogs_img">
                            <img src="img/photos-7884lejlfh9mn8ic.png" alt="No">
                        </div>
                        <div class="footer_blogs_info">
                            <h6>Consectetur adipiscing elit,<br> sed do eiusmod tempor</h6>
                            <p>Jan 9, 2016</p>
                        </div>
                    </div>
                    <div class="footer_blogs_block">
                        <div class="footer_blogs_img">
                            <img src="img/photos-7884p2smgicszfyn.png" alt="No">
                        </div>
                        <div class="footer_blogs_info">
                            <h6>sed do eiusmod tempor<br> incididunt ut labore</h6>
                            <p>Jan 9, 2016</p>
                        </div>
                    </div>
                </div>
                <div class="footer_instagram">
                    <h5>instagram</h5>
                    <div class="footer_instagram_gallery">
                        <img src="img/photos-7884mje3abujpto1.png" alt="No">
                        <img src="img/photos-7884mbqau4dkse9k.png" alt="No">
                        <img src="img/photos-7884m86ovdhbiwki.png" alt="No">
                        <img src="img/photos-7884rrdznwx35xgc.png" alt="No">
                        <img src="img/photos-7884w4hbogfc6wdb.png" alt="No">
                        <img src="img/photos-7884qnjlwal4ta8x.png" alt="No">
                        <img src="img/photos-78841zcs1olcjbr4.png" alt="No">
                        <img src="img/photos-78842fgommtud5z9.png" alt="No">
                        <img src="img/photos-7884nwl7ruku3rhj.png" alt="No">
                    </div>
                    <p>View more photos</p>
                </div>
            </div>
            <hr>
            <p>© 2016 MoGo free PSD template by <span>Laaqiq</span></p>
        </div>
    </div>
</footer>