<section class="block_gallery">
    <div class="gallery">
        <div class="gallery_header">
            <h4>what we do</h4>
            <h3>some of our work</h3>
            <hr class="line">
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br> veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="gallery_image">
            <div class="gallery_image_cell">
                <img src="img/layer-26.png" alt="No">
            </div>
            <div class="gallery_image_cell">
                <img src="img/layer-33.png" alt="No">
            </div>
            <div class="gallery_image_cell">
                <img src="img/layer-31.png" alt="No">
            </div>
            <div class="gallery_image_cell">
                <img src="img/layer-35.png" alt="No">
            </div>
            <div class="gallery_image_cell">
                <img src="img/layer-29.png" alt="No">
            </div>
            <div class="gallery_image_cell">
                <img src="img/layer-32.png" alt="No">
            </div>
        </div>
    </div>
</section>