<header>
  <div class="container">
    <div class="top_menu">
      <div class="logo">
        <a class="logo_main">mo<span>g</span>o</a>
      </div>
      <nav class="menu_navigation">
        <a href="#" class="menu_link">about</a>
        <a href="#" class="menu_link">service</a>
        <a href="#" class="menu_link">work</a>
        <a href="#" class="menu_link">blog</a>
        <a href="#" class="menu_link">contact</a>
      </nav>
      <nav class="m_menu_navigation">
        <li><a href="#" class="menu_link">about</a></li>
        <li><a href="#" class="menu_link">service</a></li>
        <li><a href="#" class="menu_link">work</a></li>
        <li><a href="#" class="menu_link">blog</a></li>
        <li><a href="#" class="menu_link">contact</a></li>
      </nav>
      <div class="find_menu">
        <a href="#" class="icon"><img src="pic/icons/shopping-cart.png" alt="No" class="icon_search"></a>
        <a href="#" class="icon"><img src="pic/icons/magnifying-glass.png" alt="No" class="icon_basket"></a>
        <div class="icon_search_form">
          <input type="text" placeholder="Search..." class="search-form">
        </div>
      </div>
    </div>
    <div class="central_part">
      <h2>Creative Template</h2>
      <h1>welcome<br>to mogo</h1>
      <hr class="header_line">
      <button class="header_btn">Learn more</button>
    </div>
    <div class="item_button">
      <div class="item">
        <a href="#" class="item_hover"><span>01</span> Intro</a>
      </div>
      <div class="item">
        <a href="#" class="item_hover"><span>02</span> Work</a>
      </div>
      <div class="item">
        <a href="#" class="item_hover"><span>03</span> About</a>
      </div>
      <div class="item">
        <a href="#" class="item_hover"><span>04</span> Contacts</a>
      </div>
    </div>
  </div>
</header>
