<header>
  <div class="container">
    <div class="top_menu">
      <div class="logo">
        <p class="logo_main">mo<span>g</span>o</p>
      </div>
      <nav class="menu_navigation">
        <li><a href="#">about</a></li>
        <li><a href="#">service</a></li>
        <li><a href="#">work</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact</a></li>
      </nav>
      <nav class="m_menu_navigation">
        <li><a href="#">about</a></li>
        <li><a href="#">service</a></li>
        <li><a href="#">work</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact</a></li>
      </nav>
      <div class="find_menu">
        <a href="#" class="basket"><i class="far fa-shopping-cart"></i></a>
        <a href="#" class="search"><i class="fas fa-search"></i></a>
      </div>
    </div>
    <div class="central_part">
      <h2>Creative Template</h2>
      <h1>Welcome<br> to MoGo</h1>
      <hr class="line">
      <button class="btn">Learn more</button>
    </div>
    
  </div>
</header>
