<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoGo</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="libs/font-awesome/fontawesome-all.css">
  <script src="libs/jquery/jquery-3.2.1.min.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <div class="wrap">

    @@include('./header.html')
    @@include('./about.html')
    @@include('./indicators.html')
    @@include('./services.html')
    @@include('./design.html')
    @@include('./work.html')
    @@include('./team.html')
    @@include('./gallery.html')
    @@include('./clients.html')
    @@include('./blog.html')


  </div>

  <script>



      // hover item_menu

      // $(".item").mouseenter(
      //     function(){
      //         $(this).find(".red_line").animate({width:'0px', color:'red'},'slow')
      //     });
      // $(".item").mouseleave(
      //     function() {
      //         $(this).find(".red_line").animate({width:'272px', color:'red'},'slow')
      //     });
      //
      // //

      // $(document).ready(function () {
      //     $('.item_hover').mouseleave(function(event) {
      //         $('.item_hover:before').stop().animate({
      //             width: '272px',
      //             color: 'red'
      //         }, 500, function() {        //animation complete
      //             $('.item').removeClass('hovered');
      //         });
      //     });
      //     $('.item_hover').mouseover(function(event) {
      //         $('.item_hover:before').stop().animate({
      //             width: '172px',
      //             color: 'red'
      //         }, 300, function() {        //animation complete
      //             $('.item_hover').addClass('hovered');
      //         });
      //     });
      // });

      // $(document).ready(function() {
      //     $(".item").mouseover(function() {
      //         var line = $(".item_hover").css("background-color", "red");
      //         line.hide(1500).show(1500);
      //         line.queue(function() {
      //             line.css("background-color", "transparent");
      //         });
      //     });
      //     $(".item").mouseleave(function() {
      //         var line = $(".item_hover").css("background-color", "red");
      //         line.hide(1500);
      //     });
      // });

  </script>
</body>
</html>
