<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoGo</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="libs/font-awesome/fontawesome-all.css">
  <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  <script src="libs/jguery/jquery-3.3.1.min.js"></script>
  <script src="libs/jguery/numscroller-1.0.js"></script>
  <script src="index.js"></script>
</head>
<body>
  <div class="wrap">

    @@include('./header.html')
    @@include('./about.html')
    @@include('./indicators.html')
    @@include('./services.html')
    @@include('./design.html')
    @@include('./work.html')
    @@include('./team.html')
    @@include('./gallery.html')
    @@include('./clients.html')
    @@include('./blog.html')
    @@include('./map.html')
    @@include('./footer.html')


  </div>

  <script>

      $(document).ready(function(){
          $(".icon_search").click(function(){
              $(".icon_search_form").animate({
                  height: 'toggle'
              });
          });
      });

      // $(window).scroll(function () { // Когда страница прокручивается
      //     var scrTop = $(window).scrollTop();
      //     if(scrTop>$('.numbers').offset().top - $(window).height()  ) {
      //         numAnimate();
      //     }
      // });
      // function numAnimate () {
      //     var number = 0;
      //     setInterval(function () {
      //         number++;
      //         if (number<=42) { $('.numbers').text(number); };
      //     }, 250);
      // };

      // $('.numbers').each(function() {
      //     var $this = $(this),
      //         countTo = $this.attr('data-count');
      //
      //     $({ countNum: $this.text()}).animate({
      //             countNum: countTo
      //         },
      //
      //         {
      //
      //             duration: 3000,
      //             easing:'linear',
      //             step: function() {
      //                 $this.text(Math.floor(this.countNum));
      //             },
      //             complete: function() {
      //                 $this.text(this.countNum);
      //                 //alert('finished');
      //             }
      //
      //         });
      //
      //
      //
      // });



  </script>
</body>
</html>
