<section class="block_indicators">
    <div class="container">
        <div class="indicators">
            <div class="cell">
                <span class="numbers" data-max='42'>42</span>
                <br>
                <p>web design projects</p>
            </div>
            <div class="cell">
                <span>123</span>
                <br>
                <p>happy client</p>
            </div>
            <div class="cell">
                <span>15</span>
                <br>
                <p>award winner</p>
            </div>
            <div class="cell">
                <span>99</span>
                <br>
                <p>cup of coffee</p>
            </div>
            <div class="cell">
                <span>24</span>
                <br>
                <p>members</p>
            </div>
        </div>
    </div>
</section>