<section class="block_services">
    <div class="container">
        <div class="services">
            <div class="services_header">
                <h4>we work with</h4>
                <h3>amazing services</h3>
                <hr class="line">
            </div>
            <div class="services_list">
                <div class="services_list_item">
                    <img src="pic/icons/alarm.png" alt="No">
                    <div>
                        <h5>photography</h5>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
                <div class="services_list_item">
                    <img src="pic/icons/line-graph.png" alt="No">
                    <div>
                        <h5>web design</h5>
                        <p class="text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
                <div class="services_list_item">
                    <img src="pic/icons/computer---ok.png" alt="No">
                    <div>
                        <h5>creativity</h5>
                        <p class="text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
                <div class="services_list_item">
                    <img src="pic/icons/book-2.png" alt="No">
                    <div>
                        <h5>seo</h5>
                        <p class="text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </div>
                <div class="services_list_item">
                    <img src="pic/icons/home.png" alt="No">
                    <div>
                        <h5>css/html</h5>
                        <p class="text">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</p>
                    </div>
                </div>
                <div class="services_list_item">
                    <img src="pic/icons/image.png" alt="No">
                    <div>
                        <h5>digital</h5>
                        <p class="text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>